[Unit]
Description=Kettler USB to BLE Bridge Service
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/kettler/kettlerUSB2BLE
ExecStartPre=/usr/bin/hciconfig hci0 up
ExecStartPre=/bin/sleep 2
ExecStart=/usr/bin/node /home/kettler/kettlerUSB2BLE/server.js
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=Kettler

[Install]
WantedBy=multi-user.target
