[Service]
ExecStartPre=/usr/bin/sudo /usr/bin/hciconfig hci0 up
ExecStartPre=/bin/sleep 2
ExecStart=sudo /usr/bin/node server.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=Kettler
User=pi
Group=pi
WorkingDirectory=/home/pi/KettlerUSB

[Install]
WantedBy=multi-user.target
